<p>
<%= link_to 'Back', domain_path %>
</p>

<p><strong><%= @domain.fqdn %></strong></p>
<p>
  Last update : <%= @lastupdate %>
  <%= link_to ('<i class="fa fa-refresh"></i>').html_safe, "/dns/update/#{@domain.id}" %>
</p>

<p>
  <p class='title'>DNS records</p>
</p>

<div class="table-container">
  <table class='table is-striped is-hoverable is-fullwidth'>
    <thead>
      <tr>
        <th>Type</th>
        <th>Value</th>
      </tr>
    </thead>
    <tr>
      <td>A</td>
      <td>
        <ul>
          <% @rrs.where(dnstype: 'A').each do |rr| %>
            <li><%= rr.value %></li>
          <% end %>
        </ul>
      </td> 
    </tr>
    <tr>
      <td>AAAA</td>
      <td>
        <ul>
          <% @rrs.where(dnstype: 'AAAA').each do |rr| %>
            <li><%= rr.value %></li>
          <% end %>
        </ul>
      </td> 
    </tr>
    <tr>
      <td>AXFR</td>
      <td>
        <ul>
          <% @rrs.where(dnstype: 'AXFR').each do |rr| %>
            <li><%= rr.value %></li>
          <% end %>
        </ul>
      </td> 
    </tr>
    <tr>
      <td>CAA</td>
      <td>
        <ul>
          <% @rrs.where(dnstype: 'CAA').each do |rr| %>
            <li><%= rr.value %></li>
          <% end %>
        </ul>
      </td> 
    </tr>
    <tr>
      <td>CNAME</td>
      <td>
        <ul>
          <% @rrs.where(dnstype: 'CNAME').each do |rr| %>
            <li><%= rr.value %></li>
          <% end %>
        </ul>
      </td> 
    </tr>
    <tr>
      <td>DMARC</td>
      <td>
        <ul>
          <% @rrs.where(dnstype: 'DMARC').each do |rr| %>
            <li><%= rr.value %></li>
          <% end %>
        </ul>
      </td> 
    </tr>
    <tr>
      <td>MX</td>
      <td>
        <ul>
          <% @rrs.where(dnstype: 'MX').each do |rr| %>
            <li><%= rr.value %></li>
          <% end %>
        </ul>
      </td> 
    </tr>
    <tr>
      <td>NS</td>
      <td>
        <ul>
          <% @rrs.where(dnstype: 'NS').each do |rr| %>
            <li><%= rr.value %></li>
          <% end %>
        </ul>
      </td> 
    </tr>
    <tr>
      <td>PTR</td>
      <td>
        <ul>
          <% @rrs.where(dnstype: 'PTR').each do |rr| %>
            <li><%= rr.value %></li>
          <% end %>
        </ul>
      </td> 
    </tr>
    <tr>
      <td>SRV</td>
      <td>
        <ul>
          <% @rrs.where(dnstype: 'SRV').each do |rr| %>
            <li><%= rr.value %></li>
          <% end %>
        </ul>
      </td> 
    </tr>
    <tr>
      <td>TXT</td>
      <td>
        <ul>
          <% @rrs.where(dnstype: 'TXT').each do |rr| %>
            <li><%= rr.value %></li>
          <% end %>
        </ul>
      </td> 
    </tr>
  </table>
</div>
