<p>
<%= link_to 'Back', domain_path %>
</p>

<p class='title'><%= @domain.fqdn %></p>
Last update : <%= @lastupdate %>
  <%= link_to ('<i class="fa fa-refresh"></i>').html_safe, "/port/update/#{@domain.id}" %>

<p>
<span class='has-text-primary has-text-weight-bold'>Tested ports</span> : <%= link_to 'Nmap top 20', 'https://securitytrails.com/blog/top-scanned-ports' %>
</p>

<div class="table-container">
  <table class='table is-striped is-hoverable is-fullwidth'>
    <thead>
      <tr>
        <th>Port</th>
        <th>Status</th>
      </tr>
    </thead>
    <% @ports.each do |p| %>
      <tr>
        <td><%= p.number %></td>
        <% clr='' ; clr='is-warning' if p.number != 80 and p.number != 443 %>
        <td class="<%= clr %>">
          Open
        </td>
      </tr>
    <% end %>
  </table>
</div>
