<div id='about'>
  <p>
  This project was made with ♥ by Nicolas Dewaele.
  </p>
  <p>
  Technologies used are as far as possible light, minimalists and secure :
  <ul>
    <li><i class='fa fa-train' aria-hidden='true'></i> Rails for backend</li>
    <li>Pure CSS <i class='fa fa-css3' aria-hidden='true'></i> for frontend</li>
    <li>No Javascript <i class='fa fa-nodejs' aria-hidden='true'></i></li>
  </ul>
  </p>
</div>
