<footer class='footer'>
  <div class='container has-text-centered'>
    <div class='columns'>
      <div id='about' class='column'>
        <p>
        Grépon is made with ♥ by Nicolas Dewaele.<br/>
        It's free under the <a href='https://www.gnu.org/licenses/gpl-3.0.en.html'>GPLv3 license</a>.
        </p>
        <p>
        Technologies used are :
        <ul>
          <li>The awesome <a href='https://rubyonrails.org/' target='_blank'>Ruby on Rails</a> framework</li>
          <li>The featherweight <a href='https://bulma.io/' target='_blank'>Bulma</a> for frontend</li>
          <li>Few JS because <a href='http://youmightnotneedjs.com/' target='_blank'>we might not need JS</a></li>
        </ul>
        </p>
      </div>
      <div class='column'>
        Contact<br/>
        <img src='/images/me.png' /><br/>
        <a href='https://adminrezo.fr/cv'><i class='fa fa-2x fa-graduation-cap'></i></a>
        <a href='https://fr.linkedin.com/in/nicolas-dewaele'><i class='fa fa-2x fa-linkedin'></i></a>
        <a href='https://gitlab.com/adminrezo/grepon'><i class='fa fa-2x fa-git-square'></i></a>
      </div>
    </div>
  </div>
</footer>
