<section class="hero-main hero">
  <div class="hero-body has-text-centered">
    <div class='container is-fullhd has-text-centered'>
      <h1 class='thetitle'>Grépon</h1>
      <h2 class='thesubtitle'>Are you on top of the Web ?</h2>
    </div>
  </div>
</section>
