<p>
  <%= link_to 'Back', '/tools' %>
</p>

<%= render 'shared/alerts' %>

<p>
  <p class='title'>Password generator :</p>
</p>

<%= form_with url: '/tools/password', method: :post do |form| %>
  <%= form.label :len, 'Length' %>
  <%= form.text_field :len, placeholder: '12', size: '2', maxlength: '2', class: 'input is-primary has-text-centered' %>
  <br/>
  <%= form.label :low, 'Lower case', class: 'checkbox' %>
  <%= form.check_box :low, checked: 'checked' %>
  <br/>
  <%= form.label :upp, 'Upper case', class: 'checkbox' %>
  <%= form.check_box :upp, checked: 'checked' %>
  <br/>
  <%= form.label :num, 'Numbers', class: 'checkbox' %>
  <%= form.check_box :num, checked: 'checked' %>
  <br/>
  <%= form.label :spec, 'Special chars', class: 'checkbox' %>
  <%= form.check_box :spec, checked: 'checked' %>
  <br/>
  <%= form.submit 'Generate', class: 'button is-primary' %>
<% end %>
