<h2 class='title'>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input is-primary' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'input is-primary' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: 'checkbox' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: 'button is-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
