<section class="hero is-primary is-clickable">
  <a href='/subscribe'>
    <div class="hero-body">
      <p class="title">Mail security</p>
      <p class="subtitle">
        <strong class='has-text-weight-bold'>Subscribe</strong> to have a complete guide on IT security
      </p>
    </div>
  </a>
</section>
<div class="box">
  <i class='fa fa-book fa-5x block' aria-hidden="true"></i>
  <table class="table">
    <thead>
      <tr>
        <th>Header</th>
        <th>Role</th>
        <th>Guidelines</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id='#dkim'>DKIM</td>
        <td>Domain authentication to approve sending and detect email spoofing.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td id='#dmarc'>DMARC</td>
        <td>Email authentication, policy, and reporting protocol used with DKIM and SPF.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td id='#dnssec'>DnsSec</td>
        <td>Not only used for mail protection but it's a way to authenticate mails.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td id='#mx'>MX</td>
        <td>MX DNS records indicates your mail exchanger (your servers that receive mails to your domain)</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td id='#spf'>SPF</td>
        <td>A DNS record used to list authorized senders for your mail domain.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td id='#more'>...</td>
        <td></td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>
