<section class="hero is-primary is-clickable">
  <a href='/subscribe'>
    <div class="hero-body">
      <p class="title">Ports security</p>
      <p class="subtitle">
        <strong class='has-text-weight-bold'>Subscribe</strong> to have a complete guide on IT security
      </p>
    </div>
  </a>
</section>
<div class="box">
  <i class='fa fa-book fa-5x block' aria-hidden="true"></i>
  <table class="table">
    <thead>
      <tr>
        <th>Port</th>
        <th>Role</th>
        <th>Guidelines</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>80 (HTTP)</td>
        <td>Only a redirection to 443 (https).</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>443 (HTTPS)</td>
        <td>Your Web server or reverse proxy or WAF with a valid certificate.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>Other</td>
        <td>Should be off in production environment. See also VPN, firewall and WAF.</td>
        <td><a href='/subscribe'><i class='fa fa-book' aria-hidden="true"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>
