<p>
<%= link_to 'Back', domain_path %>
</p>

<p class='title'><%= @domain.fqdn %></p>
<br/>Last update : <%= @lastupdate %>
  <%= link_to ('<i class="fa fa-refresh"></i>').html_safe, "/header/update/#{@domain.id}" %>

<div class="table-container">
  <table class='table is-striped is-hoverable is-fullwidth'>
    <thead>
      <tr>
        <th>Header</th>
        <th>Value</th>
      </tr>
    </thead>
    <% @headers.each do |h| %>
      <tr>
        <td><%= h&.name %></td>
        <% clr='' ; clr='is-warning' if !h.issecure %>
        <td class="<%= clr %>">
          <%= h&.value %>
          <%= link_to ('<i class="fa fa-question"></i>').html_safe, "/guide/header##{h&.name}" if !h.issecure %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
