<p>
<%= link_to 'Back', domain_path %>
</p>

<p class='title'><%= @domain.fqdn %></p>
<br/>Last update : <%= @lastupdate %>
  <%= link_to ('<i class="fa fa-refresh"></i>').html_safe, "/mail/update/#{@domain.id}" %>

<div class="table-container">
  <table class='table is-striped is-hoverable is-fullwidth'>
    <thead>
      <tr>
        <th>Protection</th>
        <th>Value</th>
      </tr>
    </thead>
    <tr>
      <td>MX</td>
      <td><%= @dns['MX'] %></td>
    </tr>
    <tr>
      <td>SPF</td>
      <% clr='' ; clr='is-warning' if @dns['SPF'].nil? %>
      <td class="<%= clr %>"><%= @dns['SPF'] %></td>
    </tr>
    <tr>
      <td>DKIM</td>
      <td>N/A (Never directly visible)</td>
    </tr>
    <tr>
      <td>DMARC</td>
      <% clr='' ; clr='is-warning' if @dns['DMARC'].empty? %>
      <td class="<%= clr %>"><%= @dns['DMARC'] %></td>
    </tr>
  </table>
</div>
