<p>
  <%= link_to 'Back', '/tools' %>
</p>

<%= render "shared/alerts" %>

<p>
  <p class='title'>DNS Propagation :</p>
</p>

<%= form_with url: "/tools/dnspropagation", method: :post do |form| %>
  <%= form.text_field :fqdn, placeholder: "yourdomain.com", class: 'input is-primary has-text-centered' %>
  <%= form.submit 'Show', class: 'button is-primary' %>
<% end %>
